@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}

header {
	width: 100%;
	height: 35px;
	background-color:#B9DE6A !important;
	z-index: 2;
	position: relative;
}
header .container {
	position: relative;
}

#retornar {
	display: relative;
	font-family: 'OpenSans';
	color: #563D8E;
	font-size: 15px;
	margin-left: 75%;
	font-weight: bold;

}

#banner {
	width: 100%;
	position: relative;
}

#descricao{
	font-family: 'OpenSans-Light';
	font-weight: bold;
	color: #393939;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

#subdescricao{
	font-family: 'OpenSans';
	color: #393939;
	font-size: 20px;
	margin-top: 25px;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

#cinto{
	font-family: 'OpenSans';
	font-weight: bold;
	color: #00A5CA;
	font-size: 20px;
	margin-top: 25px;
	text-align: center;
}

#footer-img{
	position: relative;
	margin-left: 50%;
	top: -111px;
}

#linha {
	width: 190px;
	height: 5px;
	background-color: #00A5CA;
}

.info-main {
  font-size: 36px;
  line-height: 40px;
}

.info-breakline {
  background-image: linear-gradient(bottom, #ececec 67%, #ffffff 33%);
  background-image: linear-gradient(bottom, #ececec 67%, #ffffff 33%);
  background-image: -o-linear-gradient(bottom, #ececec 67%, #ffffff 33%);
  background-image: -moz-linear-gradient(bottom, #ececec 67%, #ffffff 33%);
  background-image: -webkit-linear-gradient(bottom, #ececec 67%, #ffffff 33%);
  background-image: -ms-linear-gradient(bottom, #ececec 67%, #ffffff 33%);
}

.musics {
  background-color: #ececec;
}

.music-info-main {
  color: #757575;
  font-size: 54px;
  line-height: 46px;
}

.music-info-secondary {
  font-size: 28px;
  line-height: 32px;
}

.artist-picture img{
  width: 100%;
}

.artist-picture a {
  display: block;
  height: 100%;
  width: 100%;
}

.artist-picture a:hover {
  position: relative;
}

.artist-picture a:hover::before {
  content: url(images/play.png);
  position: absolute;
}

.artist-name {
  background-color: #220604;
  color: #ffffff;
}

.artist-song {
  background-color: #ffffff;
}




.color-secondary {
  color: #B7A8A5;
}